.App {
  text-align: center;
}

.App-header {
  background-color: #87aefd;
  min-height: 100vh;
  padding-left: 100mm;
  padding-right: 100mm;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  color: rgb(8, 8, 8);
}


